*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}
form{
    width: 100%;
}
main{
    padding-bottom: 50px;
    background-color: #f1f3f6;
    padding: 10px 10px;
}
header{
  
    background-color: #123f87;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 100%;
    height: 55px;
    background-color: white;
    color: #2d75e7;
    display: flex;
    border: 1px solid blue;
    
     
  }
  .logo h2{
      letter-spacing: 2px;
      font-weight: bolder;
      margin-left: 10px;
  }
  .logo span{
      font-size: 13px;
      color: rgb(255, 199, 16);
      word-spacing: 5px;
      letter-spacing: 2px;
      text-align: center;
  }
  img{
      width: 20%;
      margin-left: 5px;
      
  }
  

/******search_container******/
.search_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    min-width: 300px;
    width: 400px;
    height: 32px;
    margin:0px 10px;
    background-color: white;
    border-radius: 1px;
    padding: 0px 15px;
    box-shadow: -5px -5px 5px rgba(0,0,0,0.1),
    5px 5px 5px rgba(0,0,0,0.1);
    position: relative;
}
.search_container i{
    color:#2874f0;
}
.search_container input{
    width: 100%;
    font-size: 15px;
    border:none;
    outline: none;
}
.recent_Search{
    position: absolute;
    background-color: white;
    box-shadow: -5px -0px 5px rgba(0,0,0,0.1),
    5px 5px 5px rgba(0,0,0,0.1);
    height: 400px;
    width: 100%;
    top: 32px;  /*****change done****/
    margin-left: -15px;
    border-top: 1px solid #ccc;
    display: none;
    padding:15px;
    z-index:12;   /*** change done****/
}
.search_container:focus-within .recent_Search{
    display: block;
}
.recent_list{
    display: flex;
    padding: 5px 0px;
}
.recent_list i{
    color:#7a7a7a;
    font-size: 14px;
}
.recent_list p{
    padding-left: 20px;
    font-size: 15px;
}
/*******loginBtn_container**********/
.loginBtn_container{
    background-color: white;
    padding: 6px 35px;
    font-size: 15px;
    border-radius: 1px;
    margin:0px 10px;
    position: relative;
}
.loginBtn_container a{
    color: #2874f0;
    font-weight: 550;
    text-decoration: none;
}
.login_menu{
    position: absolute;
    top:34px;
    height: 320px;
    width: 100%;
    width: 230px;
    background-color: transparent;
    margin-left: -40px;
    transform: translateX(-25%);
    display: none;
    padding-top: 15px;
    z-index:12; /*** change done****/
}
.login_menu::before{
    position: absolute;
    content: "";
    margin-left: 110px;
    top:1px;
    border-top:0px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white;
}
.loginBtn_container:hover .login_menu{
    display: block;
}
.login_menu_list{
    height: 100%;
    max-width: 100%;
    background-color: white;
    box-shadow: -5px -0px 5px rgba(0,0,0,0.1),
    5px 5px 5px rgba(0,0,0,0.1);
    padding: 5px 20px;
    font-size: 15px;
    
}
.login_menu_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.login_menu_top a:hover{
    text-decoration: underline;
}
.menu_nav_link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}
.menu_nav_link a{
    padding-top: 10px;
    font-size: 14px;
    display: flex;
}
.menu_nav_link a p{
    padding-left: 10px;
    color:#474545;
    font-weight: 500;
}
.menu_nav_icon{
    width: 15px;
}





/******become a seller***/
.nav-link{
    color:white;
    padding:0px 15px;
    font-size: 15px;
    text-decoration: none;
    font-weight: 550;
    margin: 0 5px;


}

/***more ****/
.more_link{
    font-weight: 550;
    padding:0px 15px;
    font-size: 15px;
    color:white;
    cursor: pointer;
    margin: 0 10px;
    position: relative;
}
.icon_more{
    font-size: 10px;
    transition: transform 0.5s;
}
.more_link:hover .icon_more{
    transform: rotate(-180deg);
}
.more_menu{
    position: absolute;
    height:220px;
    width:200px;
    content: "";
    background-color: transparent;
    transform: translateX(-35%);  
    padding-top:10px;
    display: none;
   z-index: 12; /*** change done****/
    
}
.more_link:hover .more_menu{
    display: block;
}
.more_menu::before{
    position: absolute;
    content: "";
    margin-left: 95px;
    top:1px;
    border-top:0px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white; 
}
.more_menu_list{
    background-color: white;
    height: 100%;
    box-shadow: -5px -0px 5px rgba(0,0,0,0.1),
    5px 5px 5px rgba(0,0,0,0.1);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
}
.more_menu_list a{
    display: flex;
    font-size: 14px;
}
.more_menu_list i{
    color: #2874f0;
}
.more_menu_list p{
    color:#474545;
    padding-left: 10px;
    white-space: nowrap;
    font-weight: 500 ;
}



.card_link{
    display: flex;
    font-size: 15px;
    font-weight: 550;
    color:white;
    margin-left: 10px;
}
.card_link p{
    padding: 0px 5px;
    
}




/********************feautre products ***********************************************/
.featureProducts{
    margin-left: 0px;
    margin-right: 0px;
    height: 150px;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    padding-top: 10px;
   
}

.featureProduct_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
   
}
.featureProducts-div{
    width: 10%;
   
    height: 100%;
    text-align: center;
}
.featureProducts-div a{
  color: rgba(0, 0, 0, 0.925);
}
.featureProducts-div img{
    width: 60%;
    height: 70px;
   
  
}
.featureProducts-div h3{
text-align: center;
width: 100%;
color: #000;
}


/*****************image slider css code start from hear***************************/
.slideshow-container {
   width: 100%;
   height: 250px;
    position: relative;
  }
  
  containerBody{min-width:100%;}
#myCarousel .carousel-inner,#myCarousel .carousel-item { height: 250px;}#myCarousel .carousel-item img { height: 250px; object-fit: cover; object-position: center;}
#myCarousel .carousel-caption{text-align: left;left:5%;}#myCarousel .carousel-inner,#myCarousel .carousel-item { height: 250px;}#myCarousel .item{height:250px}
#myCarousel .carousel-inner,#myCarousel .carousel-item { height: 250px;}
.carousel-item { background-color: #000;}#myCarousel .carousel-item img { height: 250px; object-fit: cover; 
  object-position: center;}.containerBody1 .item{max-width: 96%;margin-left:2%;
  margin-bottom: 2rem;}

  
  












/************* bank partner div style start from hear *************/
.bankpartner_container{
    
    height: 120px;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    /* background-color: white; */
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  
}
.firstchild{
    width: 60%;
    
    height:80px ;
   margin: auto;
   border-radius: 5px;
   padding: 10px;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
.secondchild{
    display: flex;

height: 60px;
}
.itemcontainer{
    width: 50%;
   
}
.itemcontainer h3{
    text-align: center;
    
}
.imagdiv{
    display: flex;
    height: 56px;
}
.imagdiv img{
    width: 50%;
   

}
/*************************bestofElectronic_Contianer**************************************************/
.bestofElectronic_Contianer{
    width: 100%;
    height: 310px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  

}
.bestofElectronicmoreOption{
    height: 100px;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.bestofElectronicmoreOption img{
    height: 100%;
    width: 100%;
}
.BestofElectronic_item{
    /* background-color: white; */
    min-width: 210px;
    max-width:210px ;
    height: 310px;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.viewAllBtn{
    background-color: #2874f0;
    padding: 6px 16px;
    border-radius: 3px;
    color:white;
    font-size: 15px;
}
.bestofElectronic_bigText{
    font-size: 30px;
    text-align: center;
    margin:60px 0px 30px 0px;
}
.bestofElectronic_list{
    display: flex;
}
.bestOfElectornic_image_Product{
    height: max-content;
    text-align: center;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.bestOfElectornic_image_Product img{
    width: 90%;
    max-height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bestofElectornicProduct_name{
    font-size: 15px;
    padding: 5px;
    letter-spacing: 0.5px;

}
.bestofElecronic_discount{
    color:#388e3c;
}
.bestofElectronic_brand{
    color:rgb(143, 136, 136);
}


.bestofElectronic_Contianer .bestofElctronic_product_item{
    height: 310px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    

}
.bestofElectronic_Contianer .card{
  
    padding: 8px;
   width: 100%;
    height: 310px;
    text-align: center;
    
}

.card p{
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.678);
}
.card h4{
   color: #1d8622;
}
.card img{
    margin-bottom: 10px;
    width: 150px;
    height: 150px;

}
.image:hover{
    transform: scale(1.05);
   
}
.bestofElectronic_brand{
    font-size: 12px;
    padding-top: 7px;
   
}
.bestofElectornicProduct_name{
    color:#000;
}

/* offer banner section one and two style start from hear */
.offer_container{
    height:100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
   grid-template-rows: 200px 200px;
   
   margin-bottom: 60px;
}
.offerbanner{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);

}
.offerbanner img{
    width: 100%;
    height: 100%;
}
/* offer banner section  two style start from hear */
.secondoffer_container{
    height:203px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
   grid-template-rows: 200px 200px;
   
   margin-bottom: 60px;
}
.offerbanner{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);

}
.offerbanner img{
    width: 100%;
    height: 100%;
}

/* fashion section start from hear */

.bestoffashion_Contianer{
    width: 100%;
    height: 310px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  margin-top: 15px;
  

}
.bestoffashionicmoreOption{
    height: 100px;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.Bestoffashion_item{
    /* background-color: white; */
    min-width: 210px;
    max-width:210px ;
    height: 310px;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.bestoffashion_bigText{
    font-size: 30px;
    text-align: center;
    margin:60px 0px 30px 0px;
}
.bestoffashion_list{
    display: flex;
}
.bestoffashion_image_Product{
    height: max-content;
    text-align: center;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.bestoffashion_image_Product img{
    width: 90%;
    max-height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}


.bestoffashion_Contianer .bestoffashion_product_item{
    height: 310px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    

}
.bestoffashion_Contianer .card{
  
    padding: 8px;
   width: 100%;
    height: 310px;
    text-align: center;
    
}

.card p{
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.678);
}
.card h4{
   color: #1d8622;
}
.card img{
    margin-bottom: 10px;
    width: 150px;
    height: 150px;

}
.image:hover{
    transform: scale(1.05);
   
}
/* about section styles part start from hear */

.aboout{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
   text-align: justify;
   line-height: 30PX;
}
.aboout p{
    margin-top: 10px;
    margin-bottom: 10px;
    
};

/* footer section start from hear */
.footer{
    border: 2px solid green;
}
.toppart{
    height: 300px;
    border: 2px solid black;
    display: flex;
    background-color:rgb(28, 30, 54);
    color: rgba(255, 255, 255, 0.735);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.top-child{
   
    width: 16.6%;
}
.top-child p{
    margin-top: 10px;
    font-size: 15px;
    color: aliceblue;
    height: 15px;
    line-height: 20px;
}
.top-child h5{
    color: #7a7a7a;
}
.top-child a{
    color: rgba(255, 255, 255, 0.961);
    
}
.top-child a:hover{
   text-decoration: underline; 
}
#haveborder{
    border-left: 1px solid rgba(245, 245, 245, 0.279);
    padding-left: 10px;
}